// Descriptive color variables

$white: #fff;
$black: black;

// Primary

$color: rgb(71, 2, 2);
$bg-color: #f0f8ff;
$border: 2px solid rgb(87, 13, 13);
// Center

$center: center;

// Section

$b-color: blueviolet;

// Buttons

$color-bg: #4b0082;

// Media queries

$large: 1024px;
$medium: 1000px;
$small: 553px;
