/* *********************************** ROW ********************************** */

.row {
  @include flexy($fwrap: wrap);
  margin-top: 20px;
  @media (min-width: $small) and (max-width: $medium) {
    @include flexy($dsp: null, $fdir: column);
  }
}

.row-sec {
  @include gutter;
  @include flexy($dsp: null, $flex: 2.5, $align-s: flex-start);
  > h1 {
    font-family: "Candal", sans-serif;
  }
  > p {
    margin-top: 10px;
  }
}

.row-sec1 {
  @include flexy($dsp: null, $flex: 3, $align-s: initial);
  padding: 1em;
  color: $white;
  background-color: $b-color;
  border-radius: 10px 0 10px 0;
  -webkit-box-shadow: 0 8px 6px -3px $black;
  box-shadow: 0 8px 6px -3px $black;
  margin: 30px 0 30px 0;

  > h2,
  > h4 {
    text-align: $center;
    margin-bottom: 20px;
  }

  @media (min-width: $medium) {
    @include flexy($dsp: null, $align-s: baseline);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: skewX(-4deg) translateX(50px);
    -ms-transform: skewX(-4deg) translateX(50px);
    transform: skewX(-4deg) translateX(50px);
  }
}
